body{
    color:greenyellow;
    background:rgb(0, 0, 0);
    margin: 0px;
}

header {
    border-bottom :solid 2px greenyellow;
    margin: 20px;
    font-size: 32px;
    color:gray;
}

section {
    background:rgb(235, 41, 41);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin-right:20px;
}

img {
    height: 300px
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 20px;
}


