body{
    color:greenyellow;
    background:rgb(0, 0, 0);
    margin: 0px;
}

header {
    border-bottom :solid 2px greenyellow;
    margin: 20px;
    font-size: 32px;
    color:gray;
}

selection {
    background: rgb(836, 637, 475);
}



